@media (max-width: 896px) {
    .max-w-sm {
      width:100%;
      max-width:none;
    }
  }
  
  .description-div{
    min-height:50px;
    overflow-wrap: break-word;
  }
  .show-more{
    display: none;
    text-decoration:underline;
  }
  .openModal{
    cursor: pointer;
  }